<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="" />
</head>

<body>

    <div class="logout-ejs">
        <img src="login-bg.png" alt="Image" class="login__bg" />
        <div class="dashboard">
            <h1>Hello <%=user%>, Welcome to the dashboard </h1>
            <a class="logout" href="/logout">Logout</a>
        </div>
    </div>

</body>

</html>